#realeases {
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    grid-row: 3/4;
    padding: 0px 14%;
}

#seller {
    padding: 10px 100px;
}

#situation {
    padding: 10px 100px;
}