body {
    margin: 0;
    background-color: #F3F3F3;
}

table, th, td {
    overflow-x: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0px 20px;
    font-family: 'Poppins';
    font-size: 30px;
}

/*
Classes
*/

.header {
    margin: 0;
    width: 100%;
    height: 108px;
    background-color: #FFFFFF;
}

.title {
    font-family: 'Poppins';
    font-size: 28px;
    letter-spacing: 2px;
    margin: 0;
    width: 500px;
    height: 40px;
    float: left;
    padding: 36px 0px 0px 42px;
}

.logoText {
    float: right;
    color: #2A59C2;
    font-family: 'Poppins';font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
    padding: 40px 36px 40px 8px;
}

.break {
    margin: 0;
    width: 100%;
    height: 6px;
    background-color: #E3E3E3;
}

.menuBar {
    width: 14.25%;
    height: 88%;
    background-color: #FFFFFF;
    position: absolute;
}

.firstComponentMenuBar {
    float: left;
    margin: 0;
    width: 270px;
    height: 80px;
    padding-top: 24px;
}

.componentMenuBar {
    float: left;
    margin: 0;
    width: 270px;
    height: 70px;
}

.textMenuBar {
    margin: 0;
    float: left;
    font-family: 'Poppins';font-size: 18px;
    letter-spacing: 2px;
    padding: 5px 10px ;
}

.iconMenuBar {
    float: left;
    width: 36px;
    height: 36px;
    padding: 0px 0px 0px 32px;
}

.lineMenuBar {
    padding: 20px 24px;
}

.table {
    align-items: center;
    margin: auto;
    width: 15%;
}

/*
IDs
*/

#logo {
    float: right;
    width: 56px;
    height: 56px;
    padding: 26px 6px;
}

#seller {
    padding: 10px 100px;
}

#situation {
    padding: 10px 100px;
}

/* Para utilizar nos testes de div
border: 1px solid black;
background-color: lightblue;
*/